*.wlt linguist-detectable=false

# Optionally: force all .cs files to count as C#
*.cs linguist-language=C#

# Optional: ignore Unity YAML metadata if needed
*.meta linguist-detectable=false
*.unity linguist-language=YAML
*.prefab linguist-language=YAML